* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'PingFang TC', '微軟正黑體', sans-serif;
}

body {
  margin: 0;
  background: #323339;
  color: #e1e1e1;
}

.container {
  padding: 10px;
  margin: 0 auto;
  max-width: 1200px;
  display: flex;
  gap: 15px;
}

.control-panel {
  margin-bottom: 10px;
  display: flex;
  gap: 6px;
}

.btn-save, .btn-clear, .btn-add {
  padding: 6px 15px;
  border-radius: 4px;
  border: 0;
  background: #914ab5;
  color: #fff;
  font-size: 16px;
  cursor: pointer;
}

.account-list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 10px;
  flex-grow: 1;
  align-content: flex-start;
}

.account-btn {
  width: 120px;
  padding: 6px 0;
  border-radius: 4px;
  border: 0;
  background: #33865c;
  color: #fff;
  font-size: 16px;
  cursor: pointer;
}

.account-btn.clicked {
  opacity: .4;
}

.input-panel {
  display: flex;
  flex-direction: column;
  min-width: 240px;
  gap: 10px;
}

.account-input {
  min-height: 300px;
  padding: 8px;
  background: #16161b;
  color: #fff;
  border-radius: 4px;
}