* {
  box-sizing: border-box;
  font-family: 'PingFang TC', '微軟正黑體', sans-serif;
}

body {
  margin: 0;
  background: #323339;
  color: #e1e1e1;
}

.right.fixed {
  margin-top: 70px;
}

#controls {
  margin-top: 15px;
}

.fixed #controls {
  position: fixed;
  background: #323339;
  top: 0;
  left: 0;
  box-shadow: 0 2px 5px #00000045;
  width: 100vw;
  margin: 0;
  padding: 15px;
  z-index: 9999999;
}

.btn {
  margin: 0 auto;
  display: flex;
  justify-content: center;
  gap: 10px;
  padding: 5px;
}

button {
  background: #1b1c23;
  color: #e1e1e1;
  height: 30px;
  padding: 0 15px;
  border: 1px solid;
  font-weight: bold;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background: #484b5c;
}

.all {
  max-width: 1600px;
  margin: 0 auto;
  text-align: center;
  display: flex;
  justify-content: center;
}

.img {
  display: flex;
}

.img img {
  max-width: 100%;
  height: 950px;
}

.count {
  display: flex;
  position: relative;
  top: 0;
}

.shop {
  position: absolute;
  display: flex;
  flex-direction: column;
  padding: 80px 17px 15px;
  width: 100%;
  height: 100%;
  gap: 45px;
}

.all-shops {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-between;
}

.shop-title {
  margin: 20px auto 5px;
  width: 93%;
  text-align: center;
  padding: 5px;
  border-radius: 10px;
  background: #ffffff24;
}

.buy {
  display: flex;
  flex-wrap: wrap;
  gap: 12px;
  align-content: flex-start;
  width: 523px;
  margin: 15px 30px;
}

hr.separator {
  width: 100%;
  margin: 0;
}

.inputs {
  position: relative;
}

.item-img {
  display: flex;
  align-items: center;
  width: 95px;
  height: 95px;
  border-radius: 10px;
  overflow: hidden;
}

.item-img img {
  max-width: 100%;
}

.item-box {
  position: absolute;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 2px;
  z-index: 999;
  top: 0;
  left: 0;
}

.item-box>input {
  width: 100%;
  text-align: right;
  border: 0;
  background: transparent;
  color: #000;
  font-size: 24px;
  font-weight: bold;
  padding: 0;
  outline: 0;
  margin-left: auto;
  box-shadow: none;
  text-shadow: -1px -1px 0 #fff,
    1px -1px 0 #fff,
    -1px 1px 0 #fff,
    1px 1px 0 #fff;
}

/* 隱藏Chrome、Safari、Edge、Opera的上下箭頭 */
.item-box>input[type="number"]::-webkit-outer-spin-button,
.item-box>input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

/* 滑鼠懸停時顯示上下箭頭 */
.item-box>input[type="number"]:hover,
.item-box>input[type="number"]:hover {
  padding-right: 0px;
  background: rgb(255 255 255 / 50%);
}

.item-box>input[type="number"]:hover::-webkit-outer-spin-button,
.item-box>input[type="number"]:hover::-webkit-inner-spin-button {
  -webkit-appearance: auto;
  margin-left: 5px;
}

p {
  margin: 0 0 10px;
  font-weight: bold;
  font-size: 1.2em;
}

.notification {
  position: fixed;
  left: 50%;
  top: -50px;
  background-color: rgba(0, 0, 0, 0.9);
  color: #fff;
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 14px;
  opacity: 1;
  animation: notianima 0.7s ease-in-out;
}

@keyframes notianima {
  from {
    top: 35px;
    opacity: 1;
  }

  to {
    top: -50px;
    opacity: 0;
  }
}

.item-box>label {
  position: relative;
  cursor: pointer;
  flex-grow: 1;
}

/* 隱藏原生 checkbox */
.item-box>label input[type="checkbox"] {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

/* 外框樣式 */
.item-box>label .checkmark {
  position: absolute;
  height: 25px;
  width: 25px;
  top: 2px;
  left: 2px;
  background-color: #fff;
  border: 1px solid #000;
  border-radius: 4px;
}

/* 勾選時的樣式 */
.item-box>label input:checked~.checkmark {
  background-color: #4CAF50;
  border-color: #4CAF50;
}

/* 打勾符號 */
.item-box>label .checkmark::after {
  content: "";
  position: absolute;
  display: none;
  left: 8px;
  top: 3px;
  width: 5px;
  height: 11px;
  border: solid white;
  border-width: 0 4px 4px 0;
  transform: rotate(45deg);
}

/* 顯示勾勾 */
.item-box>label input:checked~.checkmark::after {
  display: block;
}

.boxAll {
  display: flex;
  max-width: 1200px;
  margin: 0 auto;
}

.left {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

.left .lt {
  flex-grow: 1;
}

.left .lb {
  min-height: 45%;
}

.exp {
  display: flex;
  gap: 10px;
  align-items: center;
}

.left h4 {
  margin: 3px 0;
}

.left .flex {
  padding: 6px 0;
  display: flex;
  align-items: center;
  gap: 6px;
}

.left input {
  font-family: inherit;
  outline: 0;
  border-radius: 4px;
  height: 30px;
  padding: 0 6px;
  border: 1px solid #ddd;
  background: #1b1c23;
  color: #e1e1e1;
}

#srSelection,
#result,
#srSelectionDiv,
#resultDiv {
  margin-top: 10px;
}

#resultText,
#resultContent {
  padding: 10px 15px;
  border-radius: 10px;
  background: #505054;
  display: flex;
  flex-direction: column;
  width: fit-content;
  font-size: 16px;
  margin: 0;
}

#resultText p,
#resultContent p {
  margin: 0;
  align-self: flex-start;
  font-size: 16px;
  font-weight: normal;
}

#resultText table {
  border-collapse: collapse;
}

#resultText th,
#resultText td {
  border: 1px solid #ddd;
  padding: 5px 12px;
  text-align: center;
}

.calculator {
  display: flex;
  gap: 17px;
  align-items: center;
  margin-bottom: 30px;
}

.column {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.item {
  display: flex;
  height: 30px;
  align-items: center;
  gap: 2px;
  font-weight: bold;
}

.result {
  display: flex;
  gap: 4px;
  font-weight: bold;
}