body, html {
  padding: 0;
  margin: 0;
  font-family: 'Inter', Microsoft YaHei, 'PingFangSC-Regular';
}

* {
  box-sizing: border-box;
}

body {
  color: #171C2F;
  padding-bottom: 70px;
}

a,
button {
  font-family: 'Inter', Microsoft YaHei, 'PingFangSC-Regular';
  background: none;
  border: 0;
  cursor: pointer;
  color: #171C2F;
  text-decoration: none;
}

img {
  max-width: 100%;
  display: flex;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #e3e8ea;
}

::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background-color: #6c77a4;
}

.wrapper {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.tip {
  display: flex;
  align-items: center;
  padding: 0 20px;
  width: 100%;
  height: 60px;
}

.title {
  display: flex;
  align-items: center;
  height: 30px;
  margin-top: 20px;
}

.items {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 15px 8px;
  padding: 10px;
}

.imgs {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 80px;
  cursor: pointer;
  font-size: 13px;
}

.imgs:active {
  transform: scale(.9);
}

.list::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: url('images/delete.svg') right 5px top 5px no-repeat;
  background-size: 14px;
}

.price {
  position: absolute;
  bottom: 3px;
  width: 100%;
  background: #fff;
  text-align: center;
  line-height: 1;
}

.cart {
  display: flex;
  flex-direction: column;
  gap: 20px;
  position: fixed;
  top: 0;
  right: 0;
  height: 100vh;
  width: 480px;
  padding: 20px 10px;
  max-width: 100%;
  background: #fff;
  z-index: 9999;
  border-left: 1px solid #004a8f;
  box-shadow: -2px 0 6px rgb(0 0 0 / 30%);
  transition: margin .5s;
}

.cart-item {
  overflow-y: auto;
  padding: 1px 10px;
}

.total {
  display: flex;
  align-items: center;
  gap: 12px;
  height: 60px;
  border-top: 1px solid #004a8f;
  padding: 0 10px;
  text-align: right;
  transition: all .4s;
}

.cart-btn {
  display: flex;
  align-items: center;
  gap: 5px;
}

.cart-btn img {
  height: 24px;
}

.arrow {
  transform: rotate(180deg);
  transition: transform .3s;
}

.total-price {
  font-size: 18px;
}

.cart.close {
  border: 0;
  margin-right: -100%;
  box-shadow: none;
}

.cart.close .total {
  position: fixed;
  right: 0;
  top: 10px;
  background: #fff;
  border-radius: 10px 0 0 10px;
  gap: 10px;
  border: 0;
  box-shadow: -2px 0 6px rgb(0 0 0 / 30%);
  height: 50px;
}

.cart.close .arrow {
  transform: rotate(0deg);
}

.toTop {
  position: fixed;
  bottom: 30px;
  right: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  border-radius: 20px;
  background: #fff;
  box-shadow: 1px 2px 5px -2px #004a8f;
  transition: margin .5s;
  z-index: 1000;
}

.toTop img {
  transform: rotate(90deg);
  width: 12px;
}

.t-close {
  margin-right: 480px;
}

@media (max-width:767px) {
  .items {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
  }

  .imgs {
    width: 100%;
  }

  .tip {
    align-self: flex-start;
    width: 50%;
    height: auto;
    min-height: 70px;
  }

  .price {
    padding: 1px;
  }
}